<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lastdefence">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".allActivity.MainGameActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".allActivity.AboutGameActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".allActivity.StartGameActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".allActivity.ListViewActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

    </application>

</manifest>